orlaye/__pacache__
tensorlaye/.DS_Store
.DS_Store
dist
build/
tensorlayer.egg-info
data/.DS_Store
*.pyc
*.gz
/data/Brats17ValidationData
/data/Brats17TrainingData/HGG
/data/Brats17TrainingData/LGG
/example
/checkpoint
